<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to games_path, class: "navbar-brand" do %>
    <%= image_tag "gamepad.png" %>
  <% end %>

  <% if user_signed_in? %>
    <h3> Hello, <%= current_user.name %></h3>
  <% end %>
    
  <div class="navbar">
      <% if user_signed_in? %>
        <% if current_user.photo.attached?%>
          <%= cl_image_tag current_user.photo.key, class: "avatar" %>
        <% else %>
          <%= cl_image_tag "https://images.unsplash.com/photo-1529699310859-b163e33e4556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1122&q=80", class: "avatar" %>
        <% end %> 
          <ul class="nav nav-tabs" style="align-items: baseline; padding: 8px;">
            <li><%= link_to "Add your game", new_game_path, class: "your-game-btn" %>
            <li><%= link_to "My Games", dashboard_path, class: "dropdown-item" %></li>
            <li><%= link_to "My Reservations", reservation_dashboard_path, class: "dropdown-item" %></li>
            <li><%= link_to "Edit User Info", edit_user_registration_path, class: "dropdown-item" %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
          </ul> 
      <% else %>
        <div class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
        </div>
      <% end %>
  </div>
</div>
