<div style="margin: 4em;">
  <h1>Games I own</h1>
  <div class="cards">
    <% @games.each do |game| %>
      <% if game.photo.attached?%>
        <% background_url = cl_image_path game.photo.key%>
      <% else %>
        <% background_url = 'https://images.unsplash.com/photo-1510015632688-f18aa4c1a95e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80' %>
      <% end %>
        <div class="card-category" style="background-image: url('<%= background_url %>')">
          <h2><%= link_to game.name, game_path(game) %></h2>
        </div>
          <div class="card1">
          <% game.reservations.each do |reservation| %>
            <p><%= reservation.user.name %><%= link_to "Edit Status", edit_reservation_path(reservation), class: "btn btn-success btn-lg m-4", style:"color: white;" %><p>
          <% end %>
         </div>
        </div>
    <% end %>
  </div>
    <%= link_to "Add a game to rent", new_game_path, class: "btn btn-success btn-lg m-4", style:"color: white;" %>
</div>


