<div class="dashboard-main-container">
  <h1>Games I own</h1>
  <div class="cards">
    <% @games.each do |game| %>
      <% if game.photo.attached?%>
        <% background_url = cl_image_path game.photo.key %>
      <% else %>
        <% background_url = 'https://images.unsplash.com/photo-1510015632688-f18aa4c1a95e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80' %>
      <% end %>
      <%= link_to game_path(game) do  %>
        <div class="card">
          <div class="additional" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), 
            url(https://images.pexels.com/photos/326240/pexels-photo-326240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); 
            background-size: cover; background-position: center;">
            <div class="user-card">
              <div class="coords">
                <div class="stats" style="position: absolute">
                  <div class="text-box">
                    <p style="font-size: 12px; color: black; line-height: 4px; color: white;">Reservations</p>
                    <% game.reservations.each do |reservation| %>
                      <p style="font-size: 16px; padding: 5px; border-radius: 5px; <%= reservation.status == "confirmed" ? "background-color: #09ff18bd;" : "background-color: #ff0909b8;" %>"><%=  reservation.start_date.strftime("%m/%d")  %> - <%=  reservation.end_date.strftime("%m/%d")  %> <br> Status: <%= reservation.status %></p>
                    <% end %>
                  </div>
                </div>
              </div>
            <div class="more-info" style="position: absolute">
              <h1 style="color: white;"><%= game.name %></h1>
              <div>
                <% if game.user.photo.attached?%>
                  <%= cl_image_tag game.user.photo.key, class: "avatar-large", style: "position: absolute"%>
                <% else %>
                  <%= cl_image_tag "https://images.unsplash.com/photo-1529699310859-b163e33e4556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1122&q=80", class: "avatar-large" %>
                <% end %>
              </div>
              <div class="user-name text-center" style="color: white; font-size: bold; margin-top: 5.5rem;">
                <%= game.user.name %>
              </div>
            </div>
          </div>
        </div>
        <div class="general">
          <div class="card-category" style="background-image: url('<%= background_url %>')"></div>
          <span class="more">Mouse over the card for more info</span>
        </div>
        
        </div>
      <% end %>
    <% end %>
  </div>


