<div class="index-container">
  <div class="banner" style="background-image: url(https://images.unsplash.com/photo-1486572788966-cfd3df1f5b42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80);">
    <div class="container">
      <div class="row justify-content-between">
      </div>
      <h1 class="text-center" style="color:white; padding-top: 29rem;">Choose from our most popular platforms</h1>
      <div class="row justify-content-center">
        <%= link_to xbox_path, class: "m-4", style:"color: white; border-radius: 8px;" do %>
          <%= image_tag "xbox.png", style:"height: 50px; width: 50px;" %>
        <% end %>
        <%= link_to ps4_path, class: "btn btn-light btn-lg m-4", style:"height: 60px; width: 90px; color: white; border-radius: 8px;" do %>
          <%= image_tag "game.png", style:"height: 50px; width: 50px;" %>
        <% end %>
        <%= link_to switch_path, class: "m-4", style:" color: white; border-radius: 8px;" do %>
          <%= image_tag "nintendo.png", style:"height: 50px; width: 50px;" %>
        <% end %>
      </div>
      <h4 class="text-center" style="color:white; padding-top: 1rem;">Or scroll down for more amazing titles</h4>
    </div>
  </div>
  <div class="cards">
    <% @games.each do |game| %>
      <% if game.photo.attached?%>
        <% background_url = cl_image_path game.photo.key %>
      <% else %>
        <% background_url = 'https://images.unsplash.com/photo-1510015632688-f18aa4c1a95e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80' %>
      <% end %>
      <%= link_to game_path(game) do  %>
        <%= render "/shared/card", game: game, background_url: background_url do |game|%>
          <div class="text-box">
            <i class="fas fa-tag"></i>
            <div class="value">$<%= game.price %></div>
          </div>
          <div class="text-box">
            <i class="fa fa-gamepad"></i>
            <div class="value"><%= game.platform %></div>
          </div>
          <div class="text-box">
            <i class="fas fa-tv"></i>
            <div class="value"><%= game.genre %></div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
