<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Create a new game</h1>

      <%= simple_form_for @game do |f| %>
        <%= f.input :name %>
        <%= f.input :price %>
        <%= f.input :platform, collection: [ 
            "PC",
            "Xbox",
            "PS4",
            "Nintendo DS",
            "Nintendo Switch",
            "Sega Saturn",
            "Gamecube",
            "Nintendo Wii"
          ] %>
        <%= f.input :genre, collection: [ 
            "Action", 
            "First Person Shooter",
            "Simulation",
            "Racing",
            "Sports",
            "RPG",
            "MMORPG",
            "Real Time Strategy",
            "Platform",
            "Fighting",
            "Rhythm",
            "Stealth",
            "Survival"
          ] %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
