<div class="container">

  
  

  <div class="row game-info">
    <div class="game-photo">
      <% if @game.photo.attached?%>
        <%= cl_image_tag @game.photo.key, height: 500, width: 500, crop: :scale, :radius => 16 %>
      <% else %>
        <%= cl_image_tag("f0e6lzfzkmdqtzfblz6t", width: 500, height: 400, crop: :scale, :radius => 16) %>
      <% end %>
    </div>

    <div class="col-sm-12 col-md-6">
      <h1 class="text-center"><%= @game.name %></h1>
      <table class="table table-bordered" style="line-height: 1rem;">
        <tbody>
          <thead>
            <th>Price</th>
            <th>Genre</th>
            <th>Platform</th>
            <th>Owner</th>
            <% if current_user.id == @game.user_id %>
              <th>Delete</th>
            <% end %>
          </thead>
          <% @game.name%>
            <tr>
              <td>$<%= @game.price %></td>
              <td><%= @game.genre %></td>
              <td><%= @game.platform %></td>
              <td>
                <div>
                  <% if @game.user.photo.attached?%>
                    <%= cl_image_tag @game.user.photo.key, class: "avatar-show"%>
                  <% else %>
                    <%= cl_image_tag "https://images.unsplash.com/photo-1529699310859-b163e33e4556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1122&q=80", class: "avatar-show" %>
                  <% end %>
                </div>
                <br>
                <div class="game-user-name">
                  <%= @game.user.name %>
                </div>
              </td>
              <td>
                <% if current_user.id == @game.user_id %>
                  <%= link_to game_path(@game), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <i class="fa fa-trash destroy_dose"></i>
                  <% end %>
                <% else %>
                  <p></p>
                <% end %>
              </td>
            </tr>
        </tbody>
      </table>
      <%= link_to "Back to all games", games_path, class: "btn btn-secondary btn-lg m-4", style:"color: white; border-radius: 8px;" %>
      <%= link_to "Reserve this game", new_game_reservation_path(@game), class: "btn btn-success btn-lg m-4", style:"color: white; border-radius: 8px;" %>
    </div>

    
  </div>
</div>
